<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/jquery-2.0.2.min.js"></script>
<script src="./js/bootsrap/bootstrap.min.js"></script>-->
<style>
    .redborder { border : 1px solid red !important;}
    body{
        background-image: url("http://zyzixun.net/data/out/121/3877496-nursing-wallpapers.jpg");
       /*background-image: url("./img/doctor.jpg");*/
       background-color: #CDCDCD;
    }
</style>
 <div class="container">
  <form action="{% url 'booking:view_rooms' %}" method="post">
    {% csrf_token %}
    <div class="row" id="Home">
        <!--<div class="col-lg-8">-->
        <div class="col col-lg-12" style="font-size: 250%;text-align: center;padding-top: 10px;font-family: sans-serif;"><b>ROOM AVAILABILITY</b></div>
            <div  class="col col-lg-12" style="margin: 10px;padding: 10px;">
                <div class="col-lg-4">
                    <div style="color: black"> Place  <label style="color:red">*</label></div>
                    <input type="text"  class="form-control required" id="Place" placeholder="Place" name="pname" style="width:70%">
                </div>
                <div class="col-lg-4">
                    <div style="color: black">  Start date  <label style="color:red">*</label></div>
                    <input type="date"  class="form-control required" id="startdate" placeholder="dd/mm/yyyy" style="width: 70%">
                </div>
                <div class="col-lg-4">
                    <div style="color: black">  End date  <label style="color:red">*</label></div>
                    <input type="date"  class="form-control required" id="enddate" placeholder="dd/mm/yyyy" style="width: 70%">            
                </div>
            </div>
            <div class="col-lg-4">
                <input type="submit" color="Red" value="Submit"></input>
            </div>
    </div>
  </form>
</div> 

